<div class="container">
  <ul class="breadcrumb">
    
    <li><a href="category.html">Products</a></li>
  </ul>
  <div class="row">
    <% @products.each do |p| %>
         <%= render partial: "home/product", locals: {product: p} %>
     <%end%> 

  </div>
</div>