.double_boarder {
    border-style: double;
}

.dashed_boarder {
    border-style: dashed;
}

.item_card {
    border-radius: 10px;
    border-style: double;
    background-color: #F0F0F0;
}

.cart_item_card {
    border-radius: 0px;
    border-style: double;
    background-color: #F0F0F0;
    margin: 10px;
    padding: 5px;
}

.price_show {
    border-style: dashed;
    padding: 10px;
    margin: 10px;
}

.color_red {
    color: red
}

.coupons {
    margin: 20px;
}

.fixed-height {
    max-height: 200px;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 10px;
}

.color-dark-brown {
    color: #4D281D
}

.background-color-dark-brown {
    background-color: #4D281D
}
