

<div class="container">
  <ul class="breadcrumb">
    
    <li>My Products</li>
  </ul>
  <div class="row">
    <% @products.each do |p| %>
         <%= render partial: "products/product_for_account", locals: {product: p} %>
     <%end%> 

  </div>
</div>